body{
    background-color: #f4f4f4;
    padding: 15px;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: #f4f4f4;
    top: 0;
    width: 100%;
    
}
a{
    text-decoration: none;
    color: rgb(73, 71, 71);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.cad{
    border: 1px solid black ;
    padding: 20px;
    border-radius: 10px;
    font-size: 17px;
    margin-right: 40px;
    background-color: #f7845c;
    color: white;
    transition-duration:1s;
    transform-origin: 2% 2%
}
.cad:hover{
    transform:scale(0.9);
}
.descri{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 50px;
    align-items: center;
}
.zindex{
    position: relative;
    z-index: 10;
    margin-top: -127 !important;
}
.desconto{
    position: relative;
    top: 240px;
    right: 460px;
    background-color: #f7845c;
    width: 200px;
    height: 30px;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.desconto:hover{
    background-color: #035f79;
    transition: 0.3s all;
    
}
.filtrar{
    background-color:#545454;
    width: px;
    height: px;
    color: white;
    padding: 15px;
    border-radius: 10px;
}
.filtrar:hover{
    background-color: #f7845c;
    transition: 0.3s all;
}
.ordenar{
    border:2px solid #f7845c;
    padding: 15px;
    background-color: #f4f4f4;
    border-radius:10px ;
    color: #f7845c;
}
.ordenar:hover{
    background-color: #035f79;
    transition: 0.3s all;
}
.compartilhar{
    padding: 15px;
    background-color: #f7845c;
    color: white;
    border-radius: 10px;
}
.compartilhar:hover{
    background-color: #035f79;
    transition: 0.3s all;
}
section{
    position: relative;
    margin-top: 180px;
}
.coluna1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.cs1{
    background-color: white;
    padding-bottom: 45px;
    border-radius: 10px;
}
.cs1:hover{
    background-color: #e4ecf2;
}
.cs2{
    background-color: white;
    padding-bottom: 45px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 255px;
}