body{
    background-color: #f4f4f4;
    padding: 15px;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f4f4;
    top: 0;
    width: 100%;
    margin-top: -85px;
    
}
a{
    text-decoration: none;
    color: rgb(73, 71, 71);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.cad{
    border: 1px solid black ;
    padding: 10px;
    padding-left:15px;
    padding-right: 15px;
    border-radius: 10px;
    font-size: 17px;
    margin-right: 40px;
    background-color: #f7845c;
    color: white;
    transition-duration:1s;
    transform-origin: 2% 2%
}
.cad:hover{
    transform:scale(0.9);
}
.descri{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 50px;
    align-items: center;
}
.zindex{
    position: relative;
    z-index: 10;
    margin-top: -127 !important;
}
.desconto{
    position: relative;
    top: 240px;
    right: 460px;
    background-color: #f7845c;
    width: 200px;
    height: 30px;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.desconto:hover{
    background-color: #035f79;
    transition: 0.3s all;
    
}
.filtrar{
    background-color:#545454;
    width: px;
    height: px;
    color: white;
    padding: 15px;
    border-radius: 10px;
}
.filtrar:hover{
    background-color: #f7845c;
    transition: 0.3s all;
}
.ordenar{
    border:2px solid #f7845c;
    padding: 15px;
    background-color: #f4f4f4;
    border-radius:10px ;
    color: #f7845c;
}
.ordenar:hover{
    background-color: #035f79;
    transition: 0.3s all;
}
.compartilhar{
    padding: 15px;
    background-color: #f7845c;
    color: white;
    border-radius: 10px;
}
.compartilhar:hover{
    background-color: #035f79;
    transition: 0.3s all;
}
section{
    position: relative;
    margin-top: 180px;
}
figure{
    position: relative;
    top: 15px;
}
.coluna1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.coluna2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
form{
    position: relative;
    top: 150px;
}
select{
    background-color: #f7845c;
    border-radius: 15px;
    padding: 10px;
}
.casas{
    background-color: #e4ecf2;
}
.rodapeh1{
    color: #f7845c;
    background-color: #f4f4f4;
}
 .backgroudroda{
    background-color: #545454;
    height: 700px;
 
 }
 .rodape2{
    color: #f5f2f2;
    background-color: #545454;
    margin: 30px;
 }

 .tabelabranca{
    background-color: #f4f4f4;
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    border-radius: 20px 0px 20px 0px;
 }

 .primeiro{
    margin: 10px;
  }
 .segundo{
    margin: 10px;
 }
 .terceiro{
    margin: 10px;
 }
 .quarto{
    margin: 10px;
 }
 




